*{
	font-family: Arial;
}

html{
	font-size: 100%;
}

body{
	background-color: #fafafa;
	color: #2b2b2b;
	font-size: 1.1rem;
}

a {
	text-decoration: none;
	color: #545454;
}

/* Screenshot section */

.screenshots {
	background-color: #ededed;
}

.screenshot {
	width: 70%;
	height: auto;
}

.screenshot-title {
	padding: 1% 1%;
	margin-bottom: 2%;
}

.arrow-left {
	float: left;

	margin-top: 20%;
	margin-left: 10%
}

.arrow-right {
	float: right;

	margin-top: 20%;
	margin-right: 10%
}

/* About Section */

.about {
	overflow: auto;
	margin-bottom: 50px;
}

.about-title {
	background-color: #ededed;
	padding: 1% 1%;
	margin-bottom: 2%;
}

.info {
	margin-bottom: 50px;
}

td {
	text-align: justify;
}

table {
	table-layout: fixed;
	width: 98%;
	border-spacing: 80px 0px;
}

.ctab {
	text-align: center;
}