body{
	background-color: #f6f6f6;
}

/* Navigation Section */

ul.topnav {
    background-color: #9ab451;
}

ul.topnav li a {
    color: #21251b;
}

ul.topnav li a:hover:not(.active) {
	background-color: #1c3d32;
	color: #e3edea;
}

ul.topnav li a.active {
	background-color: #1c3d32;
	color: #e3edea;
}

/* Header Section */

.header{
	background-color: #f6f6f6;
	color: #21251b;
}

/* Btns */

.action-btn{
	background-color: #1c3d32;
	color: #e3edea;
}

.action-btn-small p{
	color: #1c3d32;
}

.action-btn-small h4{
	color: #1c3d32;
}

/* About Section */

.about {
	color: #21251b;
}

.about-intro {
	background-color: #9ab451;
	color: #21251b;
}

/* Screenshots Section */

.screenshots{
	background-color: #f6f6f6;
	color: #21251b;
}

.screenshot-heading {
	background-color: #9ab451;
	color: #21251b;
}

.screenshot-title {
    background-color: #9ab451;
    margin-bottom: 50px;
}

.arrow-left, .arrow-right {
	color: #21251b;
}

/* Footer Section */

.footer{
	color: #21251b;
	background-color: #9ab451;
}

.footer-copyright a{
	color: #1c3d32;
}

.footer-sociallinks a{
	color: #1c3d32;
}