/*Light Switch*/
label {
  display: block;
  height: 25px;
  width: 100px;
  background: #eee;
  text-align: center;
  font: 14px/25px Helvetica, Arial, sans-serif;
  margin: 20px 0;
  position: fixed;
}
 
label:hover {
  background: #ddca7e;
  color: #fff;
  cursor: pointer;
}
 
input#lightswitch {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

/*Font sizing*/
h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
	display: inline;
}

h4 {
	font-weight: normal;
	font-size: 1.8rem;
}

.inline {
	display: inline;
}

/* Reset */

*{
	padding: 0;
	margin: 0;
	font-family: 'Zilla Slab', serif;
}

html{
	/*font-size: 62.5%;*/
	font-size: 0.625em;
}

a{
	text-decoration: none;
}

body{
}

/* Columns */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class|='col']{
	position: relative;
	float: left;
	min-height: 1rem;/*1px;*/
	box-sizing: border-box;
}

i {
	cursor: pointer; 
	cursor: hand;
}

/* Navigation Section */
.topnav{
	padding: 1rem;/*10px;*/
    overflow: hidden;
	box-shadow: 0 0.2rem 0.5rem/*2px 5px*/ 0 rgba(0,0,0, .3);
	z-index: 1;
}

.topnav ul{
	list-style-type: none;
	text-align: right;
}

.topnav li{
	display: inline-block;
	margin-left: 1.5rem;/*15px;*/
}

.topnav ul a{
    display: block;
	padding: 0 1.6rem;/*16px;*/
    text-align: center;
	line-height: 5rem;/*50px;*/
    /*color: #21251b;*/
	border-radius: 0.3rem;/*3px;*/
}

.topnav ul a:hover{
}

ul.topnav li a:hover:not(.active) {
}

.topnav .searchbox{
    display: block;
	height: 5rem;/*50px;*/
    padding-left: 2.5rem;/*25px;*/
	border-radius: 0.3rem;/*3px;*/
	border: 0;
	box-sizing: border-box;
}

.topnav .active {
}

/* Header Section */

.header{
	padding: 5% 10%;
}

.top-header{
	line-height: 1.4em;
	font-family: 'Audiowide', serif;
}

.top-subheader{
	line-height: 1.4em;
}

.header-list{
	line-height: 1.8em;
	margin-top: 2em;
	padding-left: 2rem;/*20px;*/
}

.header-btns{
	margin-top: 10rem;/*100px;*/
}

.header-img{
	width: 105%;
	height: 37.9rem;/*379px;*/
	/*background-image: url('../images/pc_with_test_run_small.png');*/
	background-repeat: no-repeat;
}

/* Random Section */

.random{
	height: 50rem;/*500px;*/
}

/* Btns */

.action-btn{
	display: inline-block;
	margin-right: 0.5rem;
	padding: 0 2.5rem;/*25px;*/
	border-radius: 0.3rem;/*3px;*/
	line-height: 5rem;/*50px;*/
	width: 10rem;
    text-align: center;
}

.action-btn-small {
}

.action-btn-small p{
}

.action-btn-small h4{
}

.get-started{
}

.see-features{
}

.icon-get-started {
}

.icon-get-started h4{
}

/* About Section */

.about {
	padding-bottom: 4%;
}

.about-heading {
	text-align: center;
	margin: 2% 0;
}

.about-intro {
	font-size: 3rem;
	line-height: 1.4em;
	text-align: center;
	padding: 2% 0;
	margin-bottom: 4%;
}

.info {
	margin-bottom: 5rem;/*50px;*/
}

.about-table{
	table-layout: fixed;
	width: 98%;
	border-spacing: 8rem/*80px*/ 0px;
}

.about-info-panel {
	text-align: left;
}

.action-btn-small {
	text-align: center;
	padding: 1rem;/*10px;*/
}

/* table into div */
.rTable {
  	display: block;
  	padding-left: 1.5%;
  	width: 100%;
}
.rTableHeading, .rTableBody, .rTableFoot, .rTableRow{
  	clear: both;
}
.rTableHead, .rTableFoot{
  	font-weight: bold;
}
.rTableCell, .rTableHead {
  	float: left;
  	overflow: hidden;
  	padding: 0.3rem/*3px*/ 1.8%;
  	width: 21%;
}
.rTable:after {
  	visibility: hidden;
  	display: block;
  	font-size: 0;
  	content: " ";
  	clear: both;
  	height: 0;
}

/* Screenshots Section */

.screenshot-title{
	padding: 2% 0;
	text-align: center;
	line-height: 1.4em;
}

.screenshot-title h3{
	font-size: 3rem;
}

.screenshot-title p{
	font-size: 2.8rem;
}

.img{
	position: absolute;
	top: 5rem;/*50px;*/
	display: block;
	width: 80rem;/*800px;*/
	height: 45rem;/*450px;*/
	border-radius: 1.5rem;/*15px;*/
	/*background-color: #9e9e9e;*/
	box-shadow: 0 0.5rem/*5px*/ 1rem/*10px*/ 0 rgba(0,0,0, .3);
}

.shown{
	left: 0;
	/*transform: scale(1);*/
	transition: left .6s ease, transform .6s ease;
}

.hidden-left, .hidden-right{
	/*transform: scale(.5);*/
}

.hidden-left{
	left: -105%;
}

.hidden-right{
	left: 105%;
}

.img-wrapper{
	position: relative;
	width: 78.5rem;/*785px;*/
	height: 45rem;/*450px;*/
	padding: 3rem/*30px*/ 2rem/*20px*/;
	margin: auto;
	white-space: nowrap;
	overflow: hidden;
}

.img-index{
	text-align: center;
	font-size: 2.5rem;
	padding: 2rem/*20px*/ 0;
}

.arrow-left {
	display: block;
	position: relative;
	left: 0;
	top: 25rem;/*250px;*/
	width: 100%;
	line-height: 5rem;/*50px;*/
	text-align: center;	
	/*color: #6e8334;*/
}

.arrow-right {
	display: block;
	position: relative;
	left: 0;
	top: 25rem;/*250px;*/
	width: 100%;
	line-height: 5rem;/*50px;*/
	text-align: center;
	/*color: #6e8334;*/
}

/* Footer Section */

.footer{
	padding: 2% 5%;
	/*color: #21251b;
	background-color: #9ab451;*/
	display: inline-block;
}

.footer-logo{
	border-radius: 0.3rem;/*3px;*/
	/*color: #1c3d32;*/
	vertical-align: middle;
	overflow-wrap: break-word;
}

.footer-copyright{
	/*color: #1c3d32;*/
	display: inline-block;
	padding-left: 1.5rem;/*15px;*/
	line-height: 1.8em;
	vertical-align: middle;
	overflow-wrap: break-word;
}

.footer-copyright a{
	text-decoration: underline;
	/*color: #933232;*/
}

.footer-sociallinks{
	list-style-type: none;
	text-align: right;
	/*color: #1c3d32;*/
}

.footer-sociallinks li{
	display: inline-block;
	/*margin-top: 32.5px;*/
	margin-left: 1.5rem;/*15px;*/
}

.footer-sociallinks a{
	font-size: 3.5rem;
}